{% extends "base.html" %}
{% block head %}

{% block title %}

{% endblock %}

<style>
    a {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="large_container">
    <div class="left_block">
        <div class="top_left_block_name">{{ user.username }}<br>
        </div>
        <div class="avatar_photo_menu">
            <div class="avatar_photo"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="240px "
                                           height="240px "></div>
            <div class="button_edit_profile"><a href=""> <i class="fa fa-pencil-square fa-lg"></i> Edit profile
            </a><br></div>
            <h6> Last time online: 06.05.2023 18:00 </h6>
            <div class="rower"></div>
            <div class="number_container">
                Followers: 50<br>
                Posts: 50<br>
                Likes: 20<br>
                Dislikes: 30<br>
            </div>
            <div class="rower"></div>
            <div class="subscribe_bottun"><a href="">Subscribe</a><br></div>
        </div>
    </div>
    <div class="right_block">
        <div class="top_right_block_full">
            <div class="top_right_block_name">User Info<br></div>
            <div class="rower_r"></div>
            <div class="user_info_container">
                <i>
                    <div class="user_info_container_name"> First Name:</div>
                    <div class="user_info_container_info"> {{ user.profiles.first_name }}</div>

                    <div class="user_info_container_name">Last Name: <br></div>
                    <div class="user_info_container_info">{{ user.profiles.last_name }} <br></div>
                    <div class="user_info_container_name">Biography: <br></div>
                    <div class="user_info_container_info">{{ user.profiles.bio }} <br></div>
                </i>
            </div>
        </div>
        <div class="top_left_block_full">
            <div class="col-sm-4 profile-social">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-linkedin-square"></i><a href="{{ user.profiles.linkidln_link}}">
                        {% if user.profiles.linkidln_link.split("facebook.com/")[1] %}
                        {{ user.profiles.linkidln_link.split("linkiden.com/")[1] }}
                        {% else %}
                        {{ user.profiles.linkidln_link }}
                        {% endif %}</a></li>

                    <li><i class="fa-li fa fa-facebook-square"></i><a href="{{ user.profiles.facebook_link}}">
                        {% if user.profiles.facebook_link.split("facebook.com/")[1] %}
                        {{ user.profiles.facebook_link.split("facebook.com/")[1] }}
                        {% else %}
                        {{ user.profiles.facebook_link }}
                        {% endif %}
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}

