<label class="form_name_desc">New password</label>

{{ formy.password(class="form-control") }}
{% for error in formy.password.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}

<br>
<label class="form_name_desc">Confirm password</label>
{{ formy.confirm_password(class="form-control") }}
{% for error in formy.confirm_password.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<div class="checkbox">
    <div class="form-group">
        {{ form.confirm_update(class="form-check-input") }}
        {{ form.confirm_update.label(class="form-check-label") }}
    </div>
    <br>
</div>
<button type="submit" class="btn btn-primary">Submit</button>

<a href="{{ url_for('user.profile', username=current_user.username) }}">
    <button type="reset" class="btn btn-default">Cancel</button>
</a>