body {
    margin-top: 20px;
    background: #eee;
}

.large_container {
    width: 900px;
}

.left_block {
    margin-top: 20px;
    background-color: aliceblue;
    width: 300px;
    height: 640px;
    border: 1px solid #e1e1e1;
    position: fixed;
    align-content: center;
}

.top_left_block_name {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    width: 250px;
    height: 55px;
    font-size: 1.5em;
}

.avatar_photo_menu {
    margin-left: 23px;
    margin-right: 50px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.avatar_photo {
    border: 1px solid #e1e1e1;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
}

.button_edit_profile {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 150px;
    margin-left: 50px;

}

a:hover,
a:focus {
    text-decoration: none;
    color: #2bb6a3;
}

.rower {
    background-color: #e1e1e1;
    width: 250px;
    height: 1.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rower_r {
    background-color: #e1e1e1;
    width: 120px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h6 {
    text-align: center;
}

.number_container {
    font-size: 1em;
    padding-top: 3px;
}

.subscribe_bottun {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    border: 3px solid #e1e1e1;
    width: 120px;
    align-content: center;
}

.right_block {
    margin-top: 20px;
    background-color: aliceblue;
    width: 900px;
    height: 500px;
    margin-left: 340px;
    border: 1px solid #e1e1e1;
    position: fixed;
    align-content: center;
}

.top_right_block_full {
    width: 300px;
}

.top_right_block_name {
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 20px;
}

.user_info_container {
    font-size: 1.1em;
    padding-top: 3px;
}

.user_info_container_name {
    width: 120px;
    text-align: right;
    float: left;
}


.user_info_container_info {
    width: 180px;
    text-align: left;
    float: left;
    padding-left: 5px;
}


.top_left_block_full {
    margin-left: 70%;
}

.top_right_edit_button {


}

