<div class="form-group" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="post">
        <div class="title_post">
            {{ post.title }}
        </div>
        <div class="content_post">
            {{ post.content }}
        </div>
        <div class="post_created_at">
            {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
        </div>
        <div class="post_footer">
            <div class="post_likes">
                <a class="my_link" href="{{ url_for('post.like', post_id=post.id) }}">
                    <button class="btn-like">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-thumbsup-512.png">
                        {{ post.likes|length }}
                    </button>
                </a>
            </div>
            <div class="post_dislikes_border"></div>
            <div class="post_dislikes">
                <a class="my_link" href="{{ url_for('post.dislike', post_id=post.id) }}">
                    <button class="btn-dislike">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-thumbsdown-512.png">
                        {{ post.dislikes|length }}
                    </button>
                </a>
            </div>
            {% if post.autor_id == current_user.id %}
            <div class="post_delete"><a class="my_link" href="{{ url_for('post.delete', post_id=post.id) }}">
                <button class="btn-delete">Delete post</button>
            </a></div>
            {% endif %}
            <a href="{{ url_for('user.profile', username=post.author.username) }}">
                <div class="post_avatar"><img
                        src="{{ post.author.profile.photo}}"
                        alt="Default Profile Picture" class="mini_avatar"></div>
                <div class="post_username">{{ post.author.username }}</div>
            </a>
        </div>
    </div>

</div>
